@import '../../../styles/variables';

#app-brand {
  height: 100%;
  -webkit-app-region: drag;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  border-bottom: 1px solid $light;

  .brand--logo {
    width: 40px;
    opacity: 0.8;
  }

  .brand--name {
    text-transform: uppercase;
    margin-left: 20px;
  }
}