@import '../../../styles/variables';

#app-brand {
  height: 100%;
  -webkit-app-region: drag;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  border-bottom: 1px solid $accent;

  .brand--logo {
    width: 40px;
    opacity: 0.8;
  }

  .brand--name {
    margin-left: 20px;
  }
}