@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// COLORS

$primary:     #efefef;
$secondary:   #f5f5f5;

$dark:        #111921;
$light:       #dedede;
$white:       #FFFFFF;

$accent:      #FD7272;


// FONT

$font:        'Roboto', sans-serif;