@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// COLORS

$primary:     #efefef;
$secondary:   #f5f5f5;

$dark:        #36383a;
$light:       #cacaca;
$white:       #FFFFFF;

$accent:      #f53b57;


// FONT

$font:        'Roboto', sans-serif;