@import '../../../styles/variables';

#app-sound-item {
  min-width: 300px;
  padding: 20px;
  border: 1px solid $light;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: $primary;
  }
}